@font-face {
    font-family: 'OpenSansRegular';
    src: url(/static/font/OpenSans-Regular.ttf);
}
.schedule-panel {
    border-bottom: solid 2px #72a9b066;
    padding: 10px;

}
.schedule-panel h4 {
    font-family: OpenSansRegular;
    font-size: 1em;
    color: #5b5b5b;
    text-transform: uppercase;
}
.schedule-panel-content {
    display: flex;
    justify-content: space-between;
}