 @font-face {
    font-family: 'EBGaramondSemiBold';
    src: url(/static/font/EBGaramond-SemiBold.ttf);
}
h1 {
    font-family: EBGaramondSemiBold;
    font-size: 3em;
    text-align: center;
}
.center {
    margin: auto;
    max-width: 1650px;
}