extends layout_default.pug

block title 
  title О клубе | Танцевальный клуб Чердак Красноярск

block content 
  #page
  script(src="/static/about.js")

  .about-container
    h2 Команда
    .teacher-container
      .teacher-block
        img(src="/static/img/bogdan.jpg", alt="bogdan")
        p Павел Богдан 
        p Управляющий
        p Аргентинское танго
      .teacher-block
        img(src="/static/img/yakovleva-n.jpg", alt="yakovleva-n")
        p Надежда Яковлева 
        p Создатель 
      .teacher-block
        img(src="/static/img/yakovleva-a.jpg", alt="yakovleva-a")
        p Анна Яковлева 
        p Создатель
        p Аргентинское танго
      .teacher-block
        img(src="/static/img/yakovleva-a.jpg", alt="yakovleva-a")
        p Юлия Сикилинда
        p Старший администратор
      .teacher-block
        img(src="/static/img/yakovleva-a.jpg", alt="yakovleva-a")
        p София Иванова 
        p Администратор
      .teacher-block
        img(src="/static/img/voronina.jpg", alt="voronina")
        p Анна Воронина 
        p Администратор
    h1 О клубе
    p В сегодняшнем быстром водовороте жизни все большей ценностью становится человеческое общение и время, которое мы уделяем себе любимым. Ведь и то и другое становится настоящей редкостью в быстром ритме нашей жизни: дом, работа, утренние и вечерние пробки, проблемы и каждодневная рутина. В Красноярске есть одно замечательное место, где можно посвятить себе время, общаясь с интересными людьми и занимаясь интересным делом.

    h2 Танцевальный клуб «Чердак» — это естественная, позитивная и комфортная среда знакомства, общения и активного отдыха для многих интересных людей
    p Это яркое и открытое сообщество и одновременно проект развития культуры танцевального общения в Красноярске. Основными направлениями клуба являются такие парные танцы как сальса, хастл, аргентинское танго. Это очень разные по энергетике танцы, но главная идея у них одна. Каждый из них танцуют в паре, и каждый из них – импровизация. А значит главное в этих танцах – общение.

    h2 Танцевальный клуб «Чердак» — это уникальный проект
    p Это танцевальные залы на двух этажах под самой крышей, с романтическим видом на город. Это креативный и комфортный интерьер, прекрасные преподаватели разных танцевальных направлений. Это дружественная атмосфера и насыщенная событиями творческая жизнь. Занятия, мастер-классы, танцевальные практики, музыкальные концерты, танцевальные, творческие и научно — познавательные вечеринки, просмотры кинофильмов и уютные чаепития — все это Танцевальный клуб «Чердак». И еще люди, много интересных людей.
    #map: iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2228.5753440056174!2d92.91837110442899!3d56.043341255296006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5cd7af0c4ae695c1%3A0xb225dc0e078e8e0!2z0KfQldCg0JTQkNCaLCDRgtCw0L3RhtC10LLQsNC70YzQvdGL0Lkg0LrQu9GD0LE!5e0!3m2!1sru!2sru!4v1533117307911" width="1312" height="600" frameborder="0" style="border:0" allowfullscreen)