extends layout_default.pug
block link-css
  link(rel="stylesheet", href="/static/css/arenda.css")

block title 
  title Аренда залов для танцев в Красноярске | Танцевальный клуб Чердак Красноярск

block content 
  #page
  script(src="/static/arenda.js")
