extends layout.pug
block link-css
  link(rel="stylesheet", href="/static/css/dancepage.css")
  link(rel="stylesheet", href="/static/css/teacher.css")
block title 
  title Танцы | Танцевальный клуб Чердак Красноярск
block submenu
  ul.menu.__submenu
    li: a._typography-name-item-menu.white-text(href="/dance/tango") Аргентинское танго
    li: a._typography-name-item-menu.white-text(href="/dance/bachata") Бачата
    li: a._typography-name-item-menu.white-text(href="/dance/salsa") Сальса
    li: a._typography-name-item-menu.white-text(href="/dance/hustle") Хастл
    li: a._typography-name-item-menu.white-text(href="/dance/reggeton") Реггетон
    li: a._typography-name-item-menu.white-text(href="/dance/irish") Ирландские танцы
    li: a._typography-name-item-menu.white-text(href="/dance/poledance") Полдэнс
    li: a._typography-name-item-menu.white-text(href="/dance/wedding") Свадебный танец
block content
  #page
  script(src="/static/dancePage.js")
  script.
    window.dancePageModule.render("page", "#{danceName}")
