extends layout.pug
block link-css
  link(rel="stylesheet", href="dancepage.css")
block title 
  title Танцы | Танцевальный клуб Чердак Красноярск
block content 
  div(style="margin: auto; max-width: 1920px")
    ul.menu 
      li: a(href="/dance/tango") Аргентинское танго
      li: a(href="/dance/bachata") Бачата
      li: a(href="/dance/salsa") Сальса
      li: a(href="/dance/hustle") Хастл
      li: a(href="/dance/reggetone") Реггетон
      li: a(href="/dance/irish") Ирландские танцы
      li: a(href="/dance/poledance") Полдэнс
    h1 Сальса | Сальса Касино | Сальса LA | Руэда
    div
      img(src="/static/img/salsa.jpg", alt="salsa", style="max-width: 1920px;")
      p Несколько строк о сальсе
      a(href="/registration").button-registration Пробный урок
    ul.menu 
      li: a(href="#about") История
      li: a(href="#salsala") Сальса LA
      li: a(href="#casino") Сальса Касино
      li: a(href="#rueda") Руэда
      li: a(href="#schedule") Расписание занятий
    div.menu
      div._column
        h2 Сальса LA
        iframe(width="430" height="315" src="https://www.youtube.com/embed/CtGl71wNbrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      div._column
        h2 Сальса Касино
        iframe(width="430" height="315" src="https://www.youtube.com/embed/CtGl71wNbrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
      div._column
        h2 Руэда
        iframe(width="430" height="315" src="https://www.youtube.com/embed/CtGl71wNbrY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
    div#about Много теста
      p. 
        О танце
        Происхождение
        Сальса – королева латиноамериканских дискотек. О её происхождении до сих пор идут нешуточные споры, так как минимум четыре страны (Куба, Колумбия, Пуэрто-Рико и США) настаивают на своём авторстве.

        Все же принято считать, что salsa (с исп. – «соус») – кубинский народный танец, горячительный по своей натуре.

        Родившись на острове Свободы, танец, благодаря своей природной привлекательности быстро вышел за границы Кубы, покорив страны всего мира.

        Стили
        Мигрировав в Северную Америку, сальса, как и многие латиноамериканские танцы, приобрела огромную популярность. Для привлечения внимания со стороны продюсеров Голливуда, танцоры пытались добавить эффектности и зрелищности своему танцу.

        Так в Лос-Анжелесе родился новый стиль. В то время в Нью-Йорке сальса встретила популярное направление джаза, где, смешавшись с ним, родилась еще в одном стиле. Эти линейные стили сальсы за счет своей эффектности, обрели бешеную популярность в Европе,а потом и в России (в том числе и в Красноярске).

        Энергетика танца. Кому подходит сальса?
        Как многие латиноамериканские танцы, сальса экспрессивна, разнообразна и богата импровизацией.

        Танец сальса может быть как романтичным, так и очень энергичным!

        Это танец-игра, танец-флирт.

        Сальса очень естественна и демократична, в ней нет жестких ограничений: любой возраст, вес, телосложение позволят вам танцевать!

        Уроки сальсы очень доступны для каждого. Обучение рассчитано на любой уровень подготовки для людей любого возраста. Освоив основы, вы сможете создавать свой неповторимый танец.



        Больше, чем танец
        У латиноамериканских танцев в Красноярске большое число поклонников.

        Сальса в Красноярске - это яркое и интересное сообщество единомышленников.

        Совершенствуя свое мастерство, вы сможете общаться на едином языке с людьми не только из нашего города и других городов России, но и разных стран и континентов мира. Вобрав в себя весь колорит Карибского бассейна, Центральной и Южной Америки, сальса, как воплощение праздника и веселья, чувственности и сексуальности, увлекает многих интересных людей, до этого никогда не танцевавших.

        Сальса – это и энергетика, и драйв, и зажигательные ритмы, но ограничиться этим – ничего не сказать про сальсу. Потому, что сальса – это целый мир, позитивный и яркий.

        Мы приглашаем вас в этот мир! В нашем Танцевальном клубе "Чердак" мы преподаем стиль LA (Лос Анжелес) и сальса-руэду.
    div фото с текстом
    div#schedule Расписание занятий

