extends layout.pug

block title 
  title События, мероприятия, новости | Танцевальный клуб Чердак Красноярск

block content 
  .events-container 
    .first-row
      .last-news
        img.last-news-img(src="/static/img/tango.jpg", alt="newtango")
      .news
        img.news-size(src="/static/img/salsa.jpg", alt="salsaparty")
        h2 Сальса-бачата вечеринка
        p Когда: 22.08.2018
        p Где: ЮшинБро
        a(href="#") Узнать больше
    .other-row
      .news
        img.news-size(src="/static/img/hippy.jpg", alt="hippyparty")
        h2 Все что нам нужно - это любовь!
        p Когда: 24.03.2017
        p Где: Чердак на Авиаторов
        a(href="#") Узнать больше
      .news
        img.news-size(src="/static/img/mims.jpg", alt="paris")
        h2 Как фанера над Парижем
        p Когда: 08.06.2018
        p Где: Чердак на Авиаторов
        a(href="#") Узнать больше
      .news
        img.news-size(src="/static/img/bachata.jpg", alt="bachata")
        h2 Бачата. Открытый урок
        p Когда: 25.01.2018
        p Где: Чердак на Авиаторов
        a(href="#") Узнать больше
      .news
        img.news-size(src="/static/img/hb.jpg", alt="happybirth")
        h2 День рождение Чердака!
        p Когда: 22.08.2018
        p Где: Чердак на Авиаторов
        a(href="#") Узнать больше
      .news
        img.news-size(src="/static/img/salsa.jpg", alt="salsaparty")
        h2 Сальса-бачата вечеринка
        p Когда: 22.08.2018
        p Где: ЮшинБро
        a(href="#") Узнать больше
      .news
        img.news-size(src="/static/img/salsa.jpg", alt="salsaparty")
        h2 Сальса-бачата вечеринка
        p Когда: 22.08.2018
        p Где: ЮшинБро
        a(href="#") Узнать больше
