extends layout_default.pug

block title 
  title События, мероприятия, новости | Танцевальный клуб Чердак Красноярск
block link-css
      link(rel="stylesheet", href="/static/css/events.css")
block content 
  #page
  script(src="/static/events.js")
