extends layout.pug

block title 
  title Танцевальный клуб Чердак Красноярск | школа танцев, обучение танцам в Красноярске

block content 
    p Это главная страница и я еще не решила как она будет выглядеть
    