-let today= new Date()

<!DOCTYPE html>
html
  head
    meta()
    script(src="/static/lib.js")
    link(rel="stylesheet", href="/static/css/reset.css")
    link(rel="stylesheet", href="/static/css/grid.css")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/static/css/table.css")
    link(rel="stylesheet", href="/static/css/typography.css")
    link(rel="stylesheet", href="/static/css/modalwindow.css")
    link(rel="stylesheet", href="/static/css/all.css")

    block link-css
      link(rel="stylesheet", href="/static/css/teacher.css")
    block title 
      title Танцевальный клуб Чердак Красноярск | школа танцев, обучение танцам в Красноярске
  body.page
    #modal
    block header
      .header
        .header-container
          .menu._column
            .menu.__sub-row-menu
              .contacts.__header-contacts
                .logo: a(href="/"): img.header-logo(src="/static/img/logo.svg", alt="logo")
                .department: a._typography-department(href="about/#map" title="Выбрать филиал") Красноярск
                .adress: a(href="about/#map" title="Посмотреть схему проезда") 
                  img(src="/static/img/location.svg").__sign-location 
                  span._typography-adress ул. Авиаторов, 23а
                .phone: a(href="tel: +79631912277" title="Позвоните нам!") 
                  img.__sign-phone(src="/static/img/phone.svg")
                  span._typography-phone-number 271-22-77 
              ul.menu.menu__socialnets
                li: a(href="https://vk.com/tk_cherdak"): img(src="/static/img/vk.svg", alt="vk-logo", title="#Хастл#Танго#Сальса - Клуб «ЧЕРДАК» Красноярск").medialogo_min
                li: a(href="https://www.instagram.com/clubcherdak/"): img(src="/static/img/insta.svg", alt="instagram-logo", title="@clubcherdak").medialogo_min
                li: a(href="https://www.facebook.com/clubcherdak/"): img(src="/static/img/fb.svg", alt="fb-logo" title="Cherdak Dance Club / Танцевальный клуб 'Чердак'").medialogo_min
                li: a(href="https://www.youtube.com/user/clubcherdak"): img(src="/static/img/youtube.svg", alt="youtube-logo" title="Клуб Чердак").medialogo_min
              a(href="/registration").button-registration._typography-button Пробный урок
            ul.menu.__main-menu
              li: a._typography-name-item-menu(href="/events") События
              li: a._typography-name-item-menu(href="/dance") Направления
              li: a._typography-name-item-menu(href="/schedule") Расписание
              li: a._typography-name-item-menu(href="/price") Цены
              li: a._typography-name-item-menu(href="/teacher") Преподаватели
              li: a._typography-name-item-menu(href="/about/arenda") Аренда залов
              li: a._typography-name-item-menu(href="/about") О клубе
        block submenu
      block content

      block footer
        .footer
          .footer-container
            ._column
              a(href="/"): img.footer-logo(src="/static/img/logo-footer.png", alt="logo-footer")
              .copyright © Чердак, 2011-#{today.getFullYear()}
            .menu._column
              .menu._row
                ._column 
                  p.white-text #{"Присоединяйтесь к нам в социальных сетях:".toUpperCase()}
                  ul.menu.menu__socialnets.menu__socialnets-footer
                    li: a(href="https://vk.com/tk_cherdak"): img.medialogo(src="/static/img/vk.png", alt="vk-logo", title="#Хастл#Танго#Сальса - Клуб «ЧЕРДАК» Красноярск")
                    li: a(href="https://www.instagram.com/clubcherdak/"): img.medialogo(src="/static/img/insta.png", alt="instagram-logo", title="@clubcherdak")
                    li: a(href="https://www.facebook.com/clubcherdak/"): img.medialogo(src="/static/img/fb.png", alt="fb-logo" title="Cherdak Dance Club / Танцевальный клуб 'Чердак'")
                    li: a(href="https://www.youtube.com/user/clubcherdak"): img.medialogo(src="/static/img/youtube.png", alt="youtube-logo" title="Клуб Чердак")
                .contacts.white-text
                  p clubcherdak@mail.ru
                  p: a(href="tel: +7(391)2712277") +7 391 271 22 77
                  p г. Красноярск
                  p ул. Авиаторов, 23а
              .menu
                ul.menu
                  li: a(href="/events") События
                  li: a(href="/dance") Направления
                  li: a(href="/schedule") Расписание
                  li: a(href="/price") Цены
                  li: a(href="/teacher") Преподаватели
                  li: a(href="/about/arenda") Аренда
                  li: a(href="/about") О клубе
                