-let today= new Date()

<!DOCTYPE html>
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="/static/lib.js")
    link(rel="stylesheet", href="/static/css/reset.css")
    link(rel="stylesheet", href="/static/css/grid.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
    link(rel="stylesheet", href="/static/css/modalwindow.css")
    link(rel="stylesheet", href="/static/css/default.css")
    link(rel="stylesheet", href="/static/css/style.css")
    link(rel="stylesheet", href="/static/css/typography.css")
    block link-css
      link(rel="stylesheet", href="/static/css/typography-table.css")
        //- <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
        //- <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
    block title 
      title Танцевальный клуб Чердак Красноярск | школа танцев, обучение танцам в Красноярске
  body.page
    #modal
    block header
      .header
        block navigation
          div.nav-container
            a.logo.header__logo(href="/")
            #burger-menu
            script(src="/static/burgerMenu.js")
            ul.nav
              li: a.nav__item.typo-nav(href="/events") События
              li: a.nav__item.typo-nav(href="/dance") Направления
              li: a.nav__item.typo-nav(href="/schedule") Расписание
              li: a.nav__item.typo-nav(href="/price") Цены
              li: a.nav__item.typo-nav(href="/teacher") Преподаватели
              li: a.nav__item.typo-nav(href="/about/arenda") Аренда залов
              li: a.nav__item.typo-nav(href="/about") О клубе
              li.social-nets
                a.social-nets__icon.vk(href="https://vk.com/tk_cherdak" title="#Хастл#Танго#Сальса - Клуб «ЧЕРДАК» Красноярск")
                a.social-nets__icon.fb(href="https://www.facebook.com/clubcherdak/" title="Cherdak Dance Club / Танцевальный клуб 'Чердак'")
                a.social-nets__icon.insta(href="https://www.instagram.com/clubcherdak/" title="@clubcherdak")
                a.social-nets__icon.youtube(href="https://www.youtube.com/user/clubcherdak" title="Клуб Чердак")
              li.contact
                p.department.typo-nav__contact Красноярск | Авиаторов
                a.contact-container(href="about/#map" title="Схема проезда") 
                  .adress-icon 
                  span.typo-nav__contact ул. Авиаторов, 23а                   
                a.contact-container(href="tel: +79631912277" title="Позвоните нам!")
                  .phone-icon
                  span.typo-nav__contact 271-22-77 
    block content

    block footer
      footer.footer-container
        .row-container
          .column-container
            a.logo-footer(href="/")
            .copyright © Чердак, 2011-#{today.getFullYear()}
          .column-container
            h4.footer-title ПРИСОЕДИНЯЙТЕСЬ К НАМ
            .social-nets-footer
              a.social-nets__icon-footer.vk(href="https://vk.com/tk_cherdak" title="#Хастл#Танго#Сальса - Клуб «ЧЕРДАК» Красноярск")
              a.social-nets__icon-footer.fb(href="https://www.facebook.com/clubcherdak/" title="Cherdak Dance Club / Танцевальный клуб 'Чердак'")
              a.social-nets__icon-footer.insta(href="https://www.instagram.com/clubcherdak/" title="@clubcherdak")
              a.social-nets__icon-footer.youtube(href="https://www.youtube.com/user/clubcherdak" title="Клуб Чердак")
          .column-container
            .contact
              p.department.typo-nav__contact Красноярск | Авиаторов
              a.contact-container(href="about/#map" title="Схема проезда") 
                .adress-icon 
                span.typo-nav__contact ул. Авиаторов, 23а                   
              a.contact-container(href="tel: +79631912277" title="Позвоните нам!")
                .phone-icon
                span.typo-nav__contact 271-22-77 
        ul.nav-footer
          li: a.nav__item.typo-nav(href="/events") События
          li: a.nav__item.typo-nav(href="/dance") Направления
          li: a.nav__item.typo-nav(href="/schedule") Расписание
          li: a.nav__item.typo-nav(href="/price") Цены
          li: a.nav__item.typo-nav(href="/teacher") Преподаватели
          li: a.nav__item.typo-nav(href="/about/arenda") Аренда залов
          li: a.nav__item.typo-nav(href="/about") О клубе