extends layout.pug
block link-css
  link(rel="stylesheet", href="/static/css/price.css")
block title 
  title Стоимость занятий | Танцевальный клуб Чердак Красноярск

block content
  .price-list
    h2 Абонементы клуба
    h3 Стоимость абонементов для взрослых
    table
      tr 
        th
        th 1 занятие
        th 4 занятия
        th 8 занятий
        th 12 занятий
        th 16 занятий
        th Безлимит 30 дней
        th Безлимит 90 дней
      tr
        td Стоимость
        td 400 ₽
        td 1400 ₽
        td 2200 ₽
        td 3200 ₽
        td 3750 ₽
        td 4300 ₽
        td 12000 ₽
      tr
        td Срок действия
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 90 дней
      tr
        td Практики
        td -
        td Все
        td Все
        td Все
        td Все
        td Все
        td Все
      tr
        td Индивидуальные уроки
        td -
        td -
        td -
        td -
        td -
        td -
        td 1
      tr
        td Заморозка
        td -
        td -
        td -
        td -
        td -
        td -
        td 1/7 дней
    p Pole dance: разовое посещение - 500 ₽, 8 занятий - 2800 ₽
    h3 Стоимость абонементов для детей | пенсионеров | студентов | аспирантов
    table
      tr 
        th
        th 1 занятие
        th 4 занятия
        th 8 занятий
        th 12 занятий
        th 16 занятий
        th Безлимит 30 дней
        th Безлимит 90 дней
      tr
        td Стоимость
        td 350 ₽
        td 1200 ₽
        td 1800 ₽
        td 2800 ₽
        td 3200 ₽
        td 3750 ₽
        td 9000 ₽
      tr
        td Срок действия
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 30 дней
        td 90 дней
      tr
        td Практики
        td -
        td Все
        td Все
        td Все
        td Все
        td Все
        td Все
      tr
        td Индивидуальные уроки
        td -
        td -
        td -
        td -
        td -
        td -
        td 1
      tr
        td Заморозка
        td -
        td -
        td -
        td -
        td -
        td -
        td 1/7 дней
    p Pole dance: разовое посещение - 400 ₽, 8 занятий - 2400 ₽
    h2 Правила действия абонементов клуба
    .rules
      p Абонемент приобретается при факте единовременной оплаты всей его стоимости. Активация абонемента происходит в день посещения первого занятия по абонементу.
      p Абонемент действует 30/90 дней со дня активации.
      p Абонемент может быть применен во всех филиалах ТК «Чердак».
      p По окончанию срока действия абонемента (30/90 дней с момента активации) действие абонемента заканчивается. Все не посещенные занятия сгорают. Все вопросы, связанные с переносом и возвратом денежные средств, рассматриваются дирекцией клуба в индивидуальном порядке по письменному заявлению.
      p Безлимитные абонементы позволяют своему владельцу посещать неограниченное количество групповых уроков в ТК «Чердак» в соответствии с уровнем их танцевальной подготовки. Уровень танцевальной подготовки клиента оценивает преподаватель группы, занятия которой хочет посещать клиент.
      p Новая система абонементов клуба распространяется на все групповые парные и сольные уроки танцев в клубе «Чердак» за исключением направления Pole dance.
      p Абонемент является именным, занятия по нему не могут быть переданы другому лицу.
      p Студенческие, школьные, пенсионные скидки предоставляются клиентам, подтверждающим свой статус соответствующими документами.