extends layout.pug


block title 
  title Преподаватели | Танцевальный клуб Чердак Красноярск

block content 

    #page
    script(src="/static/teacher.js")
    .teacher-container 
      .teacher-block
        img(src="/static/img/bogdan.jpg", alt="bogdan")
        p Павел Богдан 
        p Аргентинское танго
      .teacher-block
        img(src="/static/img/bolotina.jpg", alt="bolotina")
        p Анна Болотина
        p Хастл
      .teacher-block
        img(src="/static/img/voronina.jpg", alt="voronina")
        p Анна Воронина 
        p Ирландские танцы
      .teacher-block
        img(src="/static/img/zolotarev.jpg", alt="zolotarev")
        p Константин Золотарев 
        p Сальса 
        p Бачата
      .teacher-block
        img(src="/static/img/kaurakov.jpg", alt="kaurakov")
        p Павел Каураков 
        p Сальса 
        p Бачата
      .teacher-block
        img(src="/static/img/lacheva.jpg", alt="lacheva")
        p Ольга Лачева 
        p Аргентинское танго
      .teacher-block
        img(src="/static/img/peryakina.jpg", alt="peryakina")
        p Марина Перякина
        p Аргентинское танго
      .teacher-block
        img(src="/static/img/severin.jpg", alt="severin")
        p Алексей Северин 
        p Хастл
      .teacher-block
        img(src="/static/img/stanishevskaya.jpg", alt="stanishevskaya")
        p Ольга Станишевская 
        p Сальса 
        p Бачата
      .teacher-block
        img(src="/static/img/teplova.jpg", alt="teplova")
        p Мила Теплова 
        p Сальса 
        p Бачата
      .teacher-block
        img(src="/static/img/lacheva.jpg", alt="lacheva")
        p Ольга Лачева 
        p Аргентинское танго