.header{
    min-height: 100vh;
}
/* .header__img{
    background-image: url(/static/img/main-title.jpg)
} */
@media screen and (max-width: 450px) {
    .header__img{
        background-image: url(/static/img/main-title-small.jpg)
    }
}

.video {
    filter: grayscale(50%)
}
.header__video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.nav-container{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(47, 47, 47, 0.59) 97%);
}

