*a {
    font-style: none;
}
.page {
    width: 100%;
    margin: auto;
    position: relative;
}
.header{
    box-sizing: border-box;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.header__logo{
    height: 5em;
}
.video {
    filter: grayscale(70%)
}
.header__video{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.contact{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    line-height: 1.6em;
}
.header__contact:hover{
    color: #55d3ce;
}
.special-sign_padding-right{
    padding-right: 0.5em;
}
.department-choose{
    font-size: 0.75em;
    padding-left: 0.75em;
}
.button{
    background-color:#8dcadc;
    padding: 0.75em;
    border: none;
}
.button:hover{
    background-color:#488294;
    padding: 0.75em;
}
.social-nets__icon{
    width: 2rem;
    font-size: 2em;
    color: white;
}
.social-nets__icon:hover{
    color: #55d3ce;
}
.social-nets{
    width: 10vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.nav-container{
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(47, 47, 47, 0.59) 97%);
}
.nav{
    max-width: 96vw;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 15vh;
}
.nav__item{
    color: white;
}
.nav__item:hover{
    color: white;
    text-decoration-line: none;    
    border-bottom: white solid 2px;    
    padding-bottom: 5px;    
}
.header-content{
    margin: auto;
    margin-bottom: 7vh;
    display: flex;
    flex-flow: column;
    width: 56vw;
    align-content: flex-end;
}
.main-section-white-background {
    box-sizing: border-box;
    /* height: 100vh; */
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.title_margin{
    margin-top: 3vh;
}
.title_width{
    width: 35vw;
}
.title_width2{
    width: 50vw;
}
.directions-slider{
    margin: auto;
    width: 1300px;
}
.direction-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.member-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.carusel-direction-img {
    width: 400px;
}
.carusel-direction-title{
margin-top: 2vh;
}
.carusel-direction-description{
    font-size:1.2em;
    line-height: 2em;
}
._grey-background{
    background: #edf3f9;
    position: relative;
}
.price-container{
    margin-top: 3em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 25vh;
    width: 60vw;
}
.main-section-photo-background{
    box-sizing: border-box;
    height: 100vh;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-about-photo-background {
    background-image: url(../img/salsa-title-page.jpg);
}

.row-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.slide-hall{
    position: relative;
}

.carusel-halls-img{
    height: 60vh;
    z-index: -1;
}
.hall-title{
    position: absolute;
    margin: auto;
    top: 2px;
    right: 50%;
}

.footer-container{
    background-color: #4a90a0;
    height: 350px;
    display: flex;
    flex-flow: column;
    padding: 2vw;
}
.column-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.3333333%;
    justify-content: center;
}
.row-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    min-width: 70vw;
}
.footer__logo{
    height: 12em;
}
.nav-footer{
    min-width: 55vw;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 10vh;
}
.social-nets__icon-footer{
    /* width: 10rem; */
    font-size: 4em;
    color: white;
}
.social-nets-footer{
    width: 15vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
