.Modal {
    position: absolute;
    box-sizing: border-box;
    width: 510px;
    height: 600px;
    border:none;
    background-color: #1a7983;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 30px;
    
  }

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.80);
    z-index: 150;
  }
.form-container{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    height: 90px;
    width: 410px;
}
.form-input{
    border: none;
    background-color: white;
    color:lightgray;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.7em;
}
.close-button{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    color: white;
    background-color: #1a7983;
    font-size: 30px;
}

.accept-text{    
    margin: auto;
    margin-top: 10px;
    width: 300px;
    font-size: 0.7em;
    text-align: center;
    color: #ffffffa8;
}

.registration-panel{
    margin: auto;
    padding: 30px;
    padding-bottom: 0;
    color: white;
}
.registration-panel h4{
    font-size: 1em;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.registration-panel-content{
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.button-submit-registration{
    margin: auto;
    width: 185px;
    margin-top: 10px;
}