
.price-button{
    background-color:#bcf0ffa3;
    padding: 0.75em;
    width: 310px;
    height: 40px;
    border: none;

}
.price-button:hover{
    background-color:#8dcadc;
}

.price-button-row{
    display: flex;
    flex-flow: row wrap;
    width: 960px;
    justify-content: space-between;
    align-self: center;
    margin-top: 52vh;
}

.price-list {
    margin: auto;
    max-width: 1312px;
}
.rules {
    width: 750px;

}

.price-mini{
    box-sizing: border-box;
    padding: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.price-one-time-img{
    background-image: url(/static/img/price-title.jpg);
}
.price-mini-groups-img{
    background-image: url(/static/img/mini-groups.jpg);
}




.rules-subscription{
    width: 40vw;
}
.row-rules{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 1300px;
}
.rules-img{
    width: 600px;
}

