
.cost-container{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.price-list {
    margin: auto;
    max-width: 1312px;
}
.rules {
    width: 750px;

}

.price-mini{
    box-sizing: border-box;
    padding: 3vw;
    display: flex;
    text-align: center;
    align-content: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.price-one-time-img{
    background-image: url(/static/img/price-title.jpg);
}
.price-mini-groups-img{
    background-image: url(/static/img/mini-groups.jpg);
}

.minigroup-container{
    margin: auto;
    margin-top: 3vh;
    display: flex;
    flex-flow: row wrap;
    width: 25vw;
    justify-content: space-between;
}

.button-row{
    display: flex;
    flex-flow: row wrap;
    width: 46vw;
    justify-content: space-between;
    align-self: center;
    margin-top: 52vh;
}

.rules-subscription{
    width: 40vw;
}
.row-rules{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


