*a {
    font-style: none;
}
.page {
    width: 100%;
    margin: auto;
    position: relative;
}
.noscroll{
    overflow: hidden;
    touch-action: none;
}
/* header-menu*/
.header{
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#burger-menu{
    display:none;
}

@media screen and (max-width:1100px){
    #burger-menu{
        display:block;

    }
}
.logo{
    float: left;
    margin-right: 4vw; 
}
@media screen and (max-width:1450px){
    .logo{
        margin-right: 2vw; 
    }
}
@media screen and (max-width:1100px){
    .logo{
        margin: 2vw; 
    }
}
.header__logo{
    width: 150px;
    height: 75px;
    background-image: url("/static/img/logo-w-t.svg");
    background-repeat: no-repeat;
}
.header__logo:hover{
    background-image: url("/static/img/logo-w-t-hover.svg");
}
@media screen and (max-width:1300px){
    .header__logo{    
        width: 125px;
        height: 58px;
    }
}
@media screen and (max-width:1100px){
    .header__logo{    
        width: 100px;
        height: 50px;
    }
}
@media screen and (max-width:1100px){
    .icons-in-burger .header__logo{    
        width: 150px;
        height: 75px;
    }
}

.icons-in-burger{
    margin-right: auto;
    margin-left: auto; 
}

.contact{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    line-height: 1.6em;
}
@media screen and (max-width:1300px){
    .contact{
        line-height: 1.2em;
    }
}
@media screen and (max-width:1100px){
    .contact{
        line-height: 1.5em;
    }
}
@media screen and (max-width:600px){
    .contact{
        text-align: center;
    }
}
.contact-container{
    cursor: pointer;
}
.adress-icon {
    display: inline-block;
    background-image: url("/static/img/map-marker-alt-solid.svg");
    background-repeat: no-repeat;
    vertical-align: sub;
    height: 20px;
    width: 20px;
}
@media screen and (max-width:1300px){
    .adress-icon {
        height: 15px;
        width: 15px;
    }
}
.contact-container:hover .adress-icon{
    color:  #cbe0e4;
    background-image: url("/static/img/map-marker-alt-solid-hover.svg");
}
.phone-icon {
    display: inline-block;
    background-image: url("/static/img/phone-solid.svg");
    background-repeat: no-repeat;
    vertical-align: sub;
    height: 18px;
    width: 20px;
}
@media screen and (max-width:1300px){
    .phone-icon {
        height: 14px;
        width: 16px;
    }
}
.contact-container:hover .phone-icon{
    color:  #cbe0e4;
    background-image: url("/static/img/phone-solid-hover.svg");
}
/* .department-choose{
    font-size: 0.75em;
    padding-left: 0.75em;
} */
.contact-container:hover .typo-nav__contact{
    color:  #cbe0e4;
}
.social-nets__icon{
    width: 2vw;
    height: 2vw;
}
 
@media screen and (max-width: 1600px){
    .social-nets__icon{
        width: 2.3vw;
        height: 2.3vw;
    }
}

@media screen and (max-width: 1100px){
    .social-nets__icon{
        width: 35px;
        height: 35px;
    }
} 

.social-nets{
    width: 200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media screen and (max-width: 1450px){
    .social-nets{
        width: 180px;
    }
}
@media screen and (max-width: 1300px){
    .social-nets{
        width: 150px;
    }
}

@media screen and (max-width: 1100px){
    .social-nets{
        width: 180px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.vk{
    background-image: url("/static/img/vk.svg");
    background-repeat: no-repeat;
    
}
.vk:hover{
    background-image: url("/static/img/vk-hover.svg");
}
.fb{
    background-image: url("/static/img/fb.svg");
    background-repeat: no-repeat;

}
.fb:hover{
    background-image: url("/static/img/fb-hover.svg");
}
.insta{
    background-image: url("/static/img/insta.svg");
    background-repeat: no-repeat;
}
.insta:hover{
    background-image: url("/static/img/insta-hover.svg");
}
.youtube{
    background-image: url("/static/img/youtube.svg");
    background-repeat: no-repeat;
}
.youtube:hover{
    background-image: url("/static/img/youtube-hover.svg");
}

.nav-container{
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
}
@media screen and (max-width: 1100px){
    .nav-container{
        padding: 0;
        padding-right: 10vw;
    }
}

.nav{
    max-width: 96vw;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-height: 15vh;
}
@media screen and (max-width:1100px){
    .nav{
        display: none;
    }
}
.nav__item{
    color: white;
}

.nav__item:hover{
    color: #cbe0e4;
    text-decoration-line: none;
    border-bottom: #cbe0e4 solid 2px;
    padding-bottom: 5px;
}
@media screen and (max-width:1100px){
    .nav__item:hover{
        color:  rgb(203, 224, 228);
        text-decoration-line: none;    
        border-bottom: none;    
        padding-bottom:0;
    }
}
.header-content{
    margin: auto;
    margin-bottom: 7vh;
    display: flex;
    flex-flow: column;
    width: 56vw;
    align-content: flex-end;
}
@media screen and (max-width:1900px){
    .header-content{
        width: 67vw;
    }
}
@media screen and (max-width:1200px){
    .header-content{
        width: 90vw;
    }
}

/* /header-menu*/

.button-short-main{
    background-color:#8dcadc;
    width: 170px;
    height: 40px;
    border: none;
}
@media screen and (max-width:450px){
    .button-short-main{
        width: 153px;
    }
}

.button-short-main:hover{
    background-color:#488294;
}
.button{
    background-color:#8dcadc;
    padding: 0.75em;
    padding-left: 1.5em; 
    padding-right: 1.5em; 
    border: none;
}
.button:hover{
    background-color:#488294;
}
.main-section-white-background {
    box-sizing: border-box;
    /* height: 100vh; */
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
@media screen and (max-width: 1450px){
    .main-section-white-background {
        padding: 40px;
    }
}
@media screen and (max-width: 450px){
    .main-section-white-background {
        padding: 25px;
    }
}

.main-section-end {
    box-sizing: border-box;
    /* height: 100vh; */
    /* padding-top: 3vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.map{
    width: 100%;
    height: 700px;
}

@media screen and (max-width: 1100px){
    .map{
        height: 450px;
    }
}
@media screen and (max-width: 1450px){
    .map{
        height: 550px;
    }
}
.main-buttons-directions{
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 450px){
    .main-buttons-directions{
        width: 310px;
    }
}

.row-button{
    width: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 450px){
    .row-button{
        width: 310px;
    }
}
.big-margin{
    margin-top: 50px;
}
@media screen and (max-width: 1450px){
    .big-margin{
        margin-top: 40px;
    }
}
@media screen and (max-width: 1100px){
    .big-margin{
        margin-top: 35px;
    }
}
@media screen and (max-width: 450px){
    .big-margin{
        margin-top: 25px;
    }
}
.standart-margin{
    margin-top: 40px;
}
@media screen and (max-width: 1450px){
    .standart-margin{
        margin-top: 35px;
    }
}
@media screen and (max-width: 1100px){
    .standart-margin{
        margin-top: 30px;
    }
}
@media screen and (max-width: 450px){
    .standart-margin{
        margin-top: 20px;
    }
}
.small-margin{
    margin-top: 35px;
}
@media screen and (max-width: 1100px){
    .small-margin{
        margin-top: 25px;
    }
}
.special-margin-buttons{
    margin-top: 0;
}
@media screen and (max-width: 1200px){
    .special-margin-buttons{
        margin-top: 35px;
    }
}
@media screen and (max-width: 1100px){
    .special-margin-buttons{
        margin-top: 25px;
    }
}

.title_width{
    width: 35vw;
}
.title_width2{
    width: 50vw;
}
@media screen and (max-width:1600px){
    .title_width2 {
        width: 75vw;
    }
}
@media screen and (max-width:800px){
    .title_width2 {
        width: 95vw;
    }
}
/* слайдер */

.directions-slider{
    margin: auto;
    width: 80vw;
}

.direction-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.carusel-direction-img {
    max-width: 25vw;
}
@media screen and (max-width: 1200px) {
    .carusel-direction-img {
        max-width: 37vw;
    }
}
@media screen and (max-width: 800px) {
    .carusel-direction-img {
        max-width: 75vw;
    }
}
.team-slider{
    margin: auto;
    width: 60vw;
}
@media screen and (max-width: 1800px) {
    .team-slider{
        margin: auto;
        width: 70vw;
    }
}
@media screen and (max-width: 1500px) {
    .team-slider{
        margin: auto;
        width: 80vw;
    }
}
.member-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}

a.slide{
    filter: grayscale(40%);
    transition: 1s;
}
a.slide:hover{
    filter: grayscale(0);
    transition: 1s;
    text-decoration: none;
}
.arenda-slider{
    margin: auto;
    width: 60vw;
}
/* .carusel-direction-title{
    margin-top: 1vw;
} */
.carusel-direction-description{
    line-height: 1em;
}

.slide-hall{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.carusel-halls-img{
    max-width: 58vw;
}
@media screen and (max-width: 800px) {
    .arenda-slider{
        max-width: 80vw;
    }
    .carusel-halls-img {
        max-width: 75vw;
    }
}
.hall-title{
    margin: auto;
}

/* \слайдер */

/* цены */

.cost-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 240px;
}
@media screen and (max-width: 1100px) {
    .cost-container{
        margin-top: 20px;
    }
} 

@media screen and (max-width: 600px) {
    .cost-container{
        width: 150px;
        margin-top: 10px;
    }
} 
.title-subscription-container{
    border-top: solid 2px #4a90a0;
    border-bottom: solid 2px #4a90a0;
    margin-bottom: 4px;
    padding-bottom: 5px;
    width: 240px;
   
}
@media screen and (max-width: 600px) {
    .title-subscription-container{
        width: 150px;
        padding: 5px;
        /* padding-left: 16px;
        padding-right: 16px; */
    }
}
.price-4subscription-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 1080px;
}

@media screen and (max-width:1100px){
    .price-4subscription-container{
        width: 520px;
    }
}

@media screen and (max-width:600px){
    .price-4subscription-container{
        width: 320px;
    }
}

.price-2subscription-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 520px;
}

@media screen and (max-width:600px){
    .price-2subscription-container{
        width: 320px;
    }
}
/* \цены */

.schedule-today{
    text-align: left;
    line-height: 2em;
}
.main-section-photo-background{
    box-sizing: border-box;
    height: 100%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media screen and (max-width: 1450px){
    .main-section-photo-background {
        padding: 40px;
    }
}
@media screen and (max-width: 450px){
    .main-section-photo-background {
        padding: 25px;
    }
}
/* @media screen and (max-width:1000px){
    .main-section-photo-background_h{
        height: 100%;
    }
} */
.section-photo-background{
    box-sizing: border-box;
    height: 5vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-about-photo-background {
    background-image: url(../img/salsa-title-page.jpg);
}

/*footer*/

.footer-container{
    background-color: #4a90a0;
    height: 300px;
    display: flex;
    flex-flow: column;
    padding: 2vw;
}
@media screen and (max-width:1300px){
    .footer-container{
        height: 285px;
    }
}
@media screen and (max-width:1100px){
    .footer-container{
        height: 170px;
    }
}
@media screen and (max-width:600px){
    .footer-container{
        height: 350px;
    }
}
.column-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.3333333%;
    justify-content: center;
}
@media screen and (max-width:1300px){
    .column-container {
        line-height: 2em;
    }
}
@media screen and (max-width:600px){
    .column-container{
        width: 100%;
        margin-top: 20px;
    }
}

.row-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    min-width: 70vw;
}
@media screen and (max-width:1100px){
    .row-container{
        min-width: 82vw;
    }
}
@media screen and (max-width:600px){
    .row-container{
        flex-flow: column;
        min-width: 94vw;
    }
}

.logo-footer{
    width: 100px;
    height: 112px;
    background-image: url("/static/img/logo-footer-w.svg");
    background-repeat: no-repeat;

}
@media screen and (max-width:1100px){
    .logo-footer{
        width: 80px;
        height: 90px;
    }
}

.logo-footer:hover{
    background-image: url("/static/img/logo-footer-w-hover.svg");
}

.nav-footer{
    min-width: 52vw;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width:1100px){
    .nav-footer{
        display: none;
    }
}

.social-nets__icon-footer{
    width: 3vw;
    height: 3vw;
}
@media screen and (max-width:1600px){
    .social-nets__icon-footer{
        width: 2.5vw;
        height: 2.5vw;
    }
}
@media screen and (max-width:1450px){
    .social-nets__icon-footer{
        width: 3vw;
        height: 3vw;
    }
}
@media screen and (max-width:1100px){
    .social-nets__icon-footer{
        width: 35px;
        height: 35px;
    }
}


.social-nets-footer{
    margin-top: 1vw;
    width: 20vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
@media screen and (max-width:1300px){
    .social-nets-footer{
        width: 22vw;
    }
}
@media screen and (max-width:1100px){
    .social-nets-footer{
        width: 27vw;
    }
}
@media screen and (max-width:450px){
    .social-nets-footer{
        width: 45vw;
    }
}
/*/footer*/
.price-img{
    background-image: url(/static/img/main-price.jpg);
}
.event-img{
    background-image: url(/static/img/event-img.jpg);
    background-color: #658886;
    background-blend-mode: luminosity;
    justify-content: center;
}

.first-section-container {
    margin: auto;
    box-sizing: border-box;
    height: 89vh;
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.arenda-cost-container{
    margin-top: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 800px;
}
.team-container{
    margin:auto;
    display: block;
}
.member-card{
    display: inline-block;
    margin: 10px;
}