*a {
    font-style: none;
}
.page {
    width: 100%;
    margin: auto;
    position: relative;
}
.button{
    background-color:#8dcadc;
    padding: 0.75em;
    padding-left: 1.5em; 
    padding-right: 1.5em; 
    border: none;
}
.button:hover{
    background-color:#488294;
}
.main-section-white-background {
    box-sizing: border-box;
    /* height: 100vh; */
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
}
.row-button{
    min-width: 18vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.standart-margin{
    margin-top: 3vw;
}
.small-margin{
    margin-top: 1vw;
}
.title_width{
    width: 35vw;
}
.title_width2{
    width: 50vw;
}

/* слайдер */

.directions-slider{
    margin: auto;
    width: 80vw;
}

.direction-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.carusel-direction-img {
    max-width: 25vw;
}
@media screen and (max-width: 1200px) {
    .carusel-direction-img {
        max-width: 37vw;
    }
}
@media screen and (max-width: 800px) {
    .carusel-direction-img {
        max-width: 75vw;
    }
}
.member-slide{
    display: flex;
    flex-flow: column;
    align-items: center;
}

a.slide{
    filter: grayscale(40%);
    transition: 1s;
}
a.slide:hover{
    filter: grayscale(0);
    transition: 1s;
    text-decoration: none;
}
.arenda-slider{
    margin: auto;
    max-width: 60vw;
}
.carusel-direction-title{
    margin-top: 2vh;
}
.carusel-direction-description{
    line-height: 2em;
}

.slide-hall{
    position: relative;
}

.carusel-halls-img{
    max-height: 70vh;
    max-width: 50vw;
}
@media screen and (max-width: 800px) {
    .carusel-halls-img {
        max-width: 75vw;
    }
}
.hall-title{
    margin: auto;
    max-width: 15vw;
}

/* \слайдер */

.title-subscription-container{
    border-top: solid 2px #4a90a0;
    border-bottom: solid 2px #4a90a0;
    margin: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.price-subscription-container{
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 50vw;
}
.price-unlimited-container{
    margin-top: 5vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 25vw;
}
.main-section-photo-background{
    box-sizing: border-box;
    height: 100vh;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.section-photo-background{
    box-sizing: border-box;
    height: 5vw;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main-about-photo-background {
    background-image: url(../img/salsa-title-page.jpg);
}

.footer-container{
    background-color: #4a90a0;
    height: 350px;
    display: flex;
    flex-flow: column;
    padding: 2vw;
}
.column-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 33.3333333%;
    justify-content: center;
}
.row-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: auto;
    min-width: 70vw;
}
.price-img{
    background-image: url(/static/img/main-price.jpg);
}
.event-img{
    background-image: url(/static/img/event-img.jpg);
    background-color: #658886;
    background-blend-mode: luminosity;
    justify-content: center;
}

.first-section-container {
    margin: auto;
    box-sizing: border-box;
    height: 89vh;
    padding: 3vw;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.arenda-cost-container{
    margin-top: 1vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 40vw;
}