.center {
    align-self: center;
    margin-top: 5vh;
}
.cell-size {
    width: 182px;
}

table {
    border-collapse: collapse;
}
table, th, td  {
    border: 1px solid darkgrey;
}
/* Для тестовой страницы расписания */

.calendar {
    margin: auto;
    max-width: 1312px;
    background-color: rgba(211, 211, 211, 0.418);

}
.time {
    font-size: 9pt;
}
.time-level{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: flex-end;
}

.hustle {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: yellow ;
    background-color: white;
}
.bachata {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: pink;
    background-color: white;
}
.reggeton {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: orange;
    background-color: white;
}
.salsa {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: darkblue;
    background-color: white;
}
.level {
    text-transform: uppercase;
    font-size: 8px;
}

h3 {
    font-weight: 600;
}

.irish {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: darkgreen;
    background-color: white;
}
.tango {
    width: 182px;
    height: 100px;
    border: solid rgba(255, 255, 255, 0) 1px;
    border-left-width: 6px;
    border-left-color: maroon;
    background-color: white;
}
.party {
    width: 182px;
    height: 100px;
    border: solid rgb(236, 236, 236) 1px;
    background-color: chartreuse

}