.teacher-container {
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
    padding: 2vw;
}
.teacher-card {
    margin: 1vw;
    display: flex;
    flex-flow: column nowrap;
    border: #000 solid 3px;
}

.teacher-img {
    max-width: 250px;
    border-bottom: #000 solid 3px;
    filter: grayscale(70%);
    transition: 1s;
}
.teacher-img:hover {
    filter: grayscale(0);
    transition: 1s;
}

.teacher-name{
    text-align: center;
    color: #000;
    letter-spacing: 1.5;
    font-weight: bold;
    font-size: 18px;
}
.teacher-direction{
    text-transform: uppercase;
    text-align: center;
    color: #000;
    letter-spacing: 1.5;
    font-size: 10px;
}

.title-dance-page_text_dark {
    text-transform: uppercase;
    color: black;
    font-size: 2vw;
    text-align: center;
    padding-top: 3vw;

}

.teacher-title_fon{
    background-color: #fbba00;
}

.teacherpage-container {
    margin: auto;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 2vw;
}

.title-teacher-page_text_dark {
    margin: auto;
    text-transform: uppercase;
    color: black;
    font-size: 2vw;
    text-align: left;
}

.biography-container{
    margin: auto;
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}
.biography{
    padding-left: 2vw;
    max-width: 45vw;
    font-size: 2vh;
    text-align: justify;
}
.teacherpage-img {
    border: #000 solid 3px;
}

.name-button{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.button-individual-lesson {
    border-radius: 4px;
    padding: 10px;
    border: 2px solid black;
    padding-left: 30px;
    padding-right: 30px;
    color: #000;
}

.button-individual-lesson:hover {
    background-color: coral;
    color: #000;
    text-decoration: none;
}