.teacher-container {
    margin: auto;
    display: block;
    max-width: 1850px;
}
@media screen and (max-width:1850px){
    .teacher-container{
        max-width: 1480px;
    }
}
@media screen and (max-width:1500px){
    .teacher-container{
        max-width: 1280px;
    }
}
@media screen and (max-width:1300px){
    .teacher-container{
        max-width: 1080px;
    }
}
.teacher-card {
    display: inline-block;
    margin: 10px;
}