@font-face {
    font-family: 'MADE_Evo';
    src: url(/static/font/made_evo.otf)
}
@font-face {
    font-family: 'OpenSansRegular';
    src: url(/static/font/OpenSans-Regular.ttf);
}
@font-face {
    font-family: 'OpenSansSemiBold';
    src: url(/static/font/OpenSans-SemiBold.ttf);
}
@font-face {
    font-family: 'OpenSansLight';
    src: url(/static/font/OpenSans-Light.ttf);
}

@font-face {
    font-family: 'CormorantGaramondBoldItalic';
    src: url(/static/font/CormorantGaramond-BoldItalic.ttf);
}
@font-face {
    font-family: 'CormorantGaramondBold';
    src: url(/static/font/CormorantGaramond-Bold.ttf);
}
@font-face {
    font-family: 'CormorantGaramondLight';
    src: url(/static/font/CormorantGaramond-Light.ttf);
}
@font-face {
    font-family: 'EBGaramondRegular';
    src: url(/static/font/EBGaramond-Regular.ttf);
}
@font-face {
    font-family: 'EBGaramondBold';
    src: url(/static/font/EBGaramond-Bold.ttf);
}
@font-face {
    font-family: 'EBGaramondSemiBold';
    src: url(/static/font/EBGaramond-SemiBold.ttf);
}


.typo-nav{
    font-family: OpenSansSemiBold,  sans-serif;
    font-size: 1em;
    text-transform: uppercase;
}
@media screen and (max-width: 1300px){
    .typo-nav{
        font-size: 0.8em;
    }
}
.typo-nav__contact{
    font-family: OpenSansSemiBold,  sans-serif;
    font-size: 1em;
    color: white;
}
@media screen and (max-width: 1300px){
    .typo-nav__contact{
        font-size: 0.8em;
    }
}
.typo-slogan{
    font-family: EBGaramondBold,  sans-serif;
    font-size: 3em;
    text-align: center;
    color: white;
}
@media screen and (max-width: 1650px){
    .typo-slogan{
        font-size: 2.5em;
    }
}
@media screen and (max-width: 1360px){
    .typo-slogan{
        font-size: 2.2em;
    }
}
@media screen and (max-width: 1000px){
    .typo-slogan{
        font-size: 1.8em;
    }
}

.typo-autor{
    font-family: CormorantGaramondBoldItalic, sans-serif;
    font-size: 2em;
    text-align: right;
    color: white;
}
@media screen and (max-width: 1000px){
    .typo-autor{
        font-size: 1.5em;
    }
}
.down {
    text-align: center;
    font-size: 5em;
    color: white;
}
.typo-title{
    font-family: EBGaramondSemiBold,  sans-serif;
    font-size: 2em;
    text-align: center;
    color: #1c1c1c;
}
@media screen and (max-width: 1000px){
    .typo-title{
        font-size: 1.8em;
    }
}
@media screen and (max-width: 450px){
    .typo-title{
        font-size: 1.5em;
    }
}

.typo-subtitle{
    font-family: OpenSansLight,  sans-serif;
    font-size: 1em;
    text-align: center;
    color: #1c1c1c;
    text-transform: lowercase;
}

.typo-section-title{
    font-family: OpenSansLight,  sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #1c1c1c;
    text-transform: uppercase;
}
.typo-button{
    font-family: OpenSansLight,  sans-serif;
    font-size: 1em;
    text-align: center;
    color: #1c1c1c;
    text-transform: uppercase;
}
.typo-button:hover{
    color: #1c1c1c;
    text-decoration: none;
}

.typo-cost-title{
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    text-align: center;
    color: #1c1c1c;
    text-transform: lowercase;
}
.ruble{
    font-family: PT_SansRegular, sans-serif;
    font-size: 0.75em;
}

.lesson-card-title{
    font-family: EBGaramondSemiBold,  sans-serif;
    font-size: 1.5em;
    text-align: center;
    color: #1c1c1c;
}
.lesson-type{
    font-family: OpenSansRegular, sans-serif;
    font-size: 1em;
    text-align: center;
    color: #5d5d5d;
    text-transform: lowercase;
}

.copyright{
    font-family: OpenSansSemiBold,  sans-serif;
    font-size: 1em;
    color: white;
}
@media screen and (max-width:1300px){
    .copyright{
        font-size: 0.7em;
    }
}
.footer-title{
    font-family: OpenSansSemiBold,  sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    text-transform: uppercase;
}
@media screen and (max-width:800px){
    .footer-title{
        font-size: 0.8em;
    }
}
@media screen and (max-width:450px){
    .footer-title{
        font-size: 1em;
    }
}
.typo-subtitle-price{
    font-family: OpenSansLight, sans-serif;
    font-size: 0.75em;
    text-align: center;
    text-transform: lowercase;
    color: #828282;
}
@media screen and (max-width:450px){
    .typo-subtitle-price{
        margin-bottom: 3px;
    }
}
.typo-cost{
    font-family: OpenSansRegular, sans-serif;
    text-align: center;
    font-size: 2em;
    color: #828282;
    margin-top: -10px;
}
@media screen and (max-width: 450px){
    .typo-cost{
        font-size: 1.5em;
    }
}
.typo-title-price{
    margin: -10px;
    font-family: 'CormorantGaramondBold';
    text-align: center;
    font-size: 2.7em;
    text-transform: lowercase;
    color: #1c1c1c;
}
@media screen and (max-width: 450px){
    .typo-title-price{
        font-size: 1.8em;
    }
}
.typo-cost-title{
    font-family: OpenSansRegular, sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: white;
    text-transform: lowercase;
}
.typo-subscription-rules{
    font-family: 'EBGaramondRegular';
    font-size: 1.5em;
    color: #1c1c1c;
    text-align: left;
}
.typo-arenda-text{
    font-family: OpenSansRegular;
    font-size: 1.2em;
    text-align: center;
    color:#1c1c1c;
}

.white{
    color: white;
}
.white-opacity{
    color: #ffffffb8;
}

.typo-hall-title{
    font-family: OpenSansRegular, sans-serif;
    font-size: 1.2em;
    text-align: center;
    color: #1c1c1c;
}
.upper{
    text-transform: uppercase;
}

._typography-name-item-menu {
    font-family: 'MADE_Evo', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

._typography-name-item-menu:hover {
    color: black;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 5px solid #af3977;
    padding-bottom: 8px;
}
._typography-phone-number {
    font-family: 'MADE_Evo', sans-serif;
    font-size: 14px;
    color:   black;
    letter-spacing: 1px;
    font-weight: bolder;
    text-decoration: none;
}

._typography-adress {
    font-family: 'MADE_Evo', sans-serif;
    font-size: 12px;
    color:   black;
    letter-spacing: 1px;
    font-weight: 500;
    text-decoration: none;
}
._typography-department {
    font-family: 'MADE_Evo', sans-serif;
    font-size: 16px;
    color:   black;
    letter-spacing: 0.5px;
    font-weight: 500;
    text-decoration: none;
}
._typography-button{
    font-family: 'MADE_Evo', sans-serif;
    font-size: 12px;
    color: black;
    text-transform: uppercase;
}

._typography-title-dance {
    font-family: 'MADE_Evo', sans-serif;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
}
.white-text {
    color: white;
}