.schedule td {
    border-collapse: collapse;
    border: 1px solid #72a9b066;
    border-top: none;
    border-left: none;
}
tr {
    border-bottom: 2px solid #72a9b066;
}
.schedule-container{
    display: flex;
    flex-flow: column;
    margin: auto;
    padding: 2vw;
    max-width: 1665px;
}
.panel-container{
    display: flex;
    flex-flow: column;
    margin-top: 3vh;
}
.panel50{
    min-width: 49%;
}
.panel-in-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.table-container{
    margin: auto;
    margin-top: 10vh;
}
.cell-size {
    width: 220px;
    border-top: none;
    border-left: none;
}
.lesson-card{
    width: 220px;
    height: 110px;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color: white;
    /* border-bottom: #72a9b0 0.5px solid;  */
}
.title-lesson-card{
    width: 220px;
    padding: 5px;
}
.time-level{
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: baseline;
    width: 200px;
}
.time-cell{
    width: 60px;
    border-left: none;
}
.hustle {
    background-color: #ffffca;
}
.bachata {
    background-color: #f2d7ed;
}
.reggeton {
    background-color: #ffe7cc;
}
.salsa {
    background-color: #c4daf3;
}
.irish {
    background-color: #d1f3d1;
}
.tango {
    background-color: #ff8d8d;
}
.party {
    background-color: white;
}